@font-face {
    font-family: "Avara-Black";
    src: url("fonts/Avara-Black.woff2") format("woff2");
}



body{
    background-color: rgb(34, 119, 155);
   font-family: "aktiv-grotesk", sans-serif;
font-weight: 400;
font-style: normal;
}

.grid-container {
    display: grid;
    padding: 5px;
    gap: 5px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: 
    ". name name name name ."
    ". image-1 image-1 image-1 image-1 image-2"
    "text-2 image-1 image-1 image-1 image-1 image-4"
    "image-5 image-1 image-1 image-1 image-1 text-1"
    "image-3 . . . . ."
    ". name-2 name-2 name-2 name-2 ."
    " image-9 image-6 image-6 image-6 image-6 ."
    "image-10 image-6 image-6 image-6 image-6 image-8"
    ". image-6 image-6 image-6 image-6 image-7"
    ". . . . . text-3"
    ". name-3 name-3 name-3 name-3 ."
    ". image-11 image-11 image-11 image-11 image-12"
    "image-13 image-11 image-11 image-11 image-11 image-14"
    "image-15 image-11 image-11 image-11 image-11 text-4"
    "image-16 . . . . ."
    "name-4 name-4 name-4 name-4 name-4 name-4"
     ". bio bio bio bio ."
    ;
}

img{
    max-width: 100%;
    height: auto;
}

a {
    text-decoration: none;
    color: inherit;
}

.name{
    grid-area: name;
    top: 15px;
    z-index: 10;
    font-size: 130px;
    margin-top: -12%;
}




.name h1, 
.name-2 h1, 
.name-3 h1 {
    text-align: center;
    margin-bottom: 4%;
    line-height: 80%;
    letter-spacing: 2px;
    color: rgb(252, 252, 251);
  font-family: "obviously-condensed", sans-serif;
font-weight: 700;
font-style: normal;
}




.text-1{
    grid-area: text-1;
    margin-bottom: 60px;
    color: aliceblue;
    margin-top: -110px;
}

.text-2{
    grid-area: text-2;
    margin-top: 165px;
    color: aliceblue;
}




.image-1 {
    grid-area: image-1;
}

.image-2{
    grid-area: image-2;
     margin-top: 20%;
}

.image-3{
    grid-area: image-3;
     margin-top: -0%;
}

.image-4 {
    grid-area: image-4;
    margin-top: -20%;
}

.image-5 {
    grid-area: image-5;
    margin-top: -25%;
}

/* HIER KOMMT PROJEKT 2  */


.name-2 {
    grid-area: name-2;
    font-size: 130px;
    margin-top: 10%;
}

.image-6 {
    grid-area: image-6;
}

.image-7 {
    grid-area: image-7;
}

.image-8 {
    grid-area: image-8;
}

.image-9 {
    grid-area: image-9;
}

.image-10 {
    grid-area: image-10;
}

.text-3 {
    grid-area: text-3;
    color: aliceblue;
}


/* Hier kommt Projekt 3 */

.name-3 {
    grid-area: name-3;
    font-size: 130px;
    margin-top: 10%;
}

.image-11 {
    grid-area: image-11;
}

.image-12 {
    grid-area: image-12;
}

.image-13 {
    grid-area: image-13;
}

.image-14 {
    grid-area: image-14;
}

.image-15 {
    grid-area: image-15;
}

.image-16 {
    grid-area: image-16;
}

.text-4 {
    grid-area: text-4;
    color: aliceblue;
}

/* Hier kommt der titel/mein name */

.name-4 {
    grid-area: name-4;
    color: aliceblue;
    font-family: "obviously-condensed", sans-serif;
font-weight: 700;
font-style: normal;
font-size: 1220%;
position: center;
}

.bio{
    grid-area: bio;
    text-align: center;
    align-self: center;
    color: aliceblue;
    margin-top: -50%;
}


.grid-container:has(.blur:hover) .blur {
    filter: blur(10px);
    opacity: 0.5;
    transition:
    filer 0.3s ease,
    opacity 0.3 ease;
}

.blur:hover {
    filter: blur(0) !important;
    opacity: 1 !important;
}


.image-1 img,
.image-6 img,
.image-11 img {
  transition: transform 0.3s ease;
}

.image-1 img:hover,
.image-6 img:hover,
.image-11 img:hover {
  transform: scale(1.05); 
}


.image-2 img,
.image-3 img,
.image-4 img,
.image-5 img, 
.image-7 img,
.image-8 img,
.image-9 img,
.image-10 img, 
.image-12 img,  
.image-13 img, 
.image-14 img, 
.image-15 img, 
.image-16 img {
  transition: transform 0.3s ease;
}

.image-2 img:hover,
.image-3 img:hover,
.image-4 img:hover,
.image-5 img:hover,
.image-7 img:hover,
.image-8 img:hover,
.image-9 img:hover,
.image-10 img:hover,
.image-12 img:hover, 
.image-13 img:hover,
.image-14 img:hover, 
.image-15 img:hover,
.image-16 img:hover {
  transform: scale(1.09); 
}
