@font-face {
    font-family: "Avara-Black";
    src: url("fonts/Avara-Black.woff2") format("woff2");
}



body{
    background-color: rgb(25, 147, 229);
   font-family: "akzidenz-grotesk-next-conden", sans-serif;
font-weight: 400;
font-style: normal;
}

.grid-container {
    display: grid;
    padding: 5px;
    gap: 5px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: 
    ". name name name name ."
    ". image-1 image-1 image-1 image-1 image-2"
    "text-2 image-1 image-1 image-1 image-1 image-4"
    "image-5 image-1 image-1 image-1 image-1 text-1"
    "image-3 . . . . ."
    ". name-2 name-2 name-2 name-2 ."
    " image-9 image-6 image-6 image-6 image-6 ."
    "image-10 image-6 image-6 image-6 image-6 image-8"
    ". image-6 image-6 image-6 image-6 image-7"
    ". . . . . text-3"
    ". name-3 name-3 name-3 name-3 ."
    ". image-11 image-11 image-11 image-11 image-12"
    "image-13 image-11 image-11 image-11 image-11 image-14"
    "image-15 image-11 image-11 image-11 image-11 text-4"
    "image-16 . . . . ."
    ;
}

img{
    max-width: 100%;
    height: auto;
}

a {
    text-decoration: none;
    color: inherit;
}

.name{
    grid-area: name;
    top: 15px;
    z-index: 10;
}




.name h1, 
.name-2 h1, 
.name-3 h1 {
    text-align: center;
    font-size: 162px;
    margin-bottom: 0;
    margin-top: 0;
    line-height: 75%;
    letter-spacing: -3px;
    color: rgb(252, 252, 251);
    font-family: "akzidenz-grotesk-next-conden", sans-serif;
font-weight: 700;
font-style: normal;
}




.text-1{
    grid-area: text-1;
    margin-bottom: 60px;
    color: aliceblue;
    margin-top: -145px;
}

.text-2{
    grid-area: text-2;
    margin-top: 165px;
    color: aliceblue;
}




.image-1 {
    grid-area: image-1;
}

.image-2{
    grid-area: image-2;
     margin-top: 60px;
}

.image-3{
    grid-area: image-3;
     margin-top: -40px;
}

.image-4 {
    grid-area: image-4;
    margin-top: -40px;
}

.image-5 {
    grid-area: image-5;
    margin-top: -55px;
}

/* HIER KOMMT PROJEKT 2  */


.name-2 {
    grid-area: name-2;
}

.image-6 {
    grid-area: image-6;
}

.image-7 {
    grid-area: image-7;
}

.image-8 {
    grid-area: image-8;
}

.image-9 {
    grid-area: image-9;
}

.image-10 {
    grid-area: image-10;
}

.text-3 {
    grid-area: text-3;
}


/* Hier kommt Projekt 3 */

.name-3 {
    grid-area: name-3;
}

.image-11 {
    grid-area: image-11;
}

.image-12 {
    grid-area: image-12;
}

.image-13 {
    grid-area: image-13;
}

.image-14 {
    grid-area: image-14;
}

.image-15 {
    grid-area: image-15;
}

.image-16 {
    grid-area: image-16;
}

.text-4 {
    grid-area: text-4;
}

