@font-face {
    font-family: "Avara-Black";
    src: url("fonts/Avara-Black.woff2") format("woff2");
}


img {
    max-width: 100%; 
    height: auto; 
}

body{
    background-color: rgb(25, 147, 229);
    font-family: "Avara-Black", serif;
}

.grid-container {
    display: grid;
    padding: 15px;
    gap: 15px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: 
    "name name name name name"
    "bio bio bio bio bio"
    "image-1 image-1 image-1 image-2 image-2"
     "image-1 image-1 image-1 text-2 text-2"
    "text-1 text-1 text-1 . ."
    "image-3 image-3 image-3 text-3 text-3";
}



.name{
    grid-area: name;
}

.name h1 {
    text-align: center;
    font-size: 100px;
    margin: 0;
    color: aliceblue;
}

p{
    margin: 0;
}

.bio{
    grid-area: bio;
    text-align: center;
    margin-bottom: 100px;
    align-self: center;
    color: aliceblue;
}

.image-1{
    grid-area: image-1;
}

.image-2{
    grid-area: image-2;
}

.image-3{
    grid-area: image-3;
}

.text-1{
    grid-area: text-1;
    margin-bottom: 50px;
    color: aliceblue;
}

.text-2{
    grid-area: text-2;
    margin-bottom: 100px;
    color: aliceblue;
}

.text-3{
    grid-area: text-3;
    color: aliceblue;
}

