@font-face {
    font-family: "Avara-Black";
    src: url("fonts/Avara-Black.woff2") format("woff2");
}


img {
    max-width: 100%; 
    height: auto; 
}

body{
    background-color: rgb(25, 147, 229);
    font-family: "Avara-Black", serif;
}

.grid-container {
    display: grid;
    padding: 15px;
    gap: 15px;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-areas: 
    "name name name name name"
    "bio bio bio bio bio"
    "image-1 image-1 image-1 image-2 image-2"
     "image-1 image-1 image-1 text-2 text-2"
    "text-1 text-1 text-1 . ."
    "image-3 image-3 image-3 text-3 text-3";
}



.name{
    grid-area: name;
    position: sticky;
    top: 15px;
    z-index: 10;
}

.name h1 {
    text-align: center;
    font-size: 100px;
    margin: 0;
    color: rgb(156, 191, 17);
    transition: color 0.3s ease-in;
}

.name h1:hover{
    color:rgb(190, 66, 91);
    cursor: pointer;
}

p{
    margin: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

a:hover {
    color:blue;
}

.bio{
    grid-area: bio;
}
    
.bio p {
    text-align: center;
    margin-bottom: 100px;
    align-self: center;
    color: aliceblue;
    opacity: 1;
    transition: opacity 0.5s ease;
}

.bio p:hover {
    opacity: 0.5;
    cursor: pointer;
}


.image-1{
    grid-area: image-1;
    position: relative;
}

.image-1 img {
    transition: opacity 0.5s ease;
}

.image-1 .b {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}

.image-1:hover .a{
    opacity: 0;
}

.image-1:hover .b{
    opacity: 1;
}

.image-2{
    grid-area: image-2;
}

.image-2 img {
    box-shadow: 0 0 0 rgba(0, 0, 0, 0);
    transition: box-shadow 0.3s ease;
}

.image-2 img:hover {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 1);
}

.image-3{
    grid-area: image-3;
}

.image-3 img {
    transition: 0.5s ease;
}

.image-3 img:hover {
    transform: rotate(5deg) scale(1.5);
}

.text-1{
    grid-area: text-1;
    margin-bottom: 50px;
    color: aliceblue;
}

.text-2{
    grid-area: text-2;
    margin-bottom: 100px;
    color: aliceblue;
}

.text-3{
    grid-area: text-3;
    color: aliceblue;
}

